<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me | My Portfolio</title>
    <link rel="stylesheet" href="styles.css">
    <h1>About Me</h1>
</head>
<body>
    <% include partials/navbar %>
    <div class="content">
      
        
        <img src="/images/dp.jpg" alt="Jimson James" width="200">
        <p>Hi, I'm Jimson James, currently navigating the intriguing world of software development as a student in the Software Engineering Technician Course at Centennial College. Each day, I find myself delving deeper into the intricacies of technology, striving to make my mark in this ever-evolving field.
          <br>All in all, I am a blend of passion and perseverance, constantly learning, growing, and finding joy in the little things. Life is a journey, and I am determined to make the most of it, one code, one game, one movie, one coin, and one song at a time.
        </p>

    </div>
</body>
</html>
